body {
    /* Этот стиль применяется ко всем элементам body, кроме элементов с тегом header */
    background-color: #69431A; /* Цвет заднего фона */
    background-image: linear-gradient(to bottom, #69431A, #2b1c0b); /* Градиент, идущий снизу вверх */
    height: 100vh;
  }
.container {
    display: flex; /* Размещение элементов внутри контейнера в виде флекс-контейнера */
    height: 100vh; /* Высота контейнера равна высоте видимой области окна браузера */
}

.text-block {
    flex: 1; /* Занимает всю доступную ширину контейнера */
    padding: 20px; /* Внутренний отступ */
    box-sizing: border-box; /* Учитываем внутренние отступы при расчете размеров блока */
    text-decoration: none;
    color:rgb(0, 0, 0);
    border: 2px solid #8C4900; /* Цвет рамки */
    display: inline-block; /* Разрешает тексту обтекать прямоугольник */
    background-color: #8C4900; /* Цвет заливки */
    border-radius: 3px; /* Радиус скругления углов */
}

.image-block {
    flex: 1; /* Занимает всю доступную ширину контейнера */
    display: flex; /* Размещение внутри блока в виде флекс-контейнера */
    justify-content: flex-end; /* Выравнивание содержимого блока по правому краю */
    align-items: flex-end; /* Выравнивание содержимого блока по нижнему краю */
}

img {
    max-width: 100%; /* Максимальная ширина изображения равна ширине блока */
    max-height: 100%; /* Максимальная высота изображения равна высоте блока */
}

