body {
  background-color: rgb(162, 98, 22);
  background-image: linear-gradient(to bottom, rgb(89, 53, 14), rgb(189, 124, 46));
}

.landing-container {
  padding: 30px;
  background-color: rgb(89, 53, 14);
  color: #fff;
}

.navbar {
  background-color: rgb(162, 98, 22); 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  list-style: none;
  display: flex;
}

.menu li {
  margin-right: 20px;
  padding: 20px;
}

.logo {
  font-size: 24px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-block {
  width: 50%;
}

.text-block-map {
  font-size: 28px;
  width: 40%;
  margin: 0 auto;
  text-align: center; 
}

.image-block {
  width: 50%;
}

.image-block img {
  width: 100%;
  height: auto;
}